{% extends parent_template|default:'base.html' %}
{% load i18n %}

{% block content %}
  {% if user.is_authenticated %}
    <p>{% blocktrans with name=user.get_short_name %}
      Hello {{name}}!
    {% endblocktrans %}</p>
    <p><a href="{% url 'auth_logout' %}?next={{ request.path }}">
      {% trans 'Log Out' %}</a></p>
  {% else %}
    <p><a href="{% url 'registration_register' %}">
      {% trans 'Register' %}</a></p>
    <p><a href="{% url 'auth_login' %}?next={{ request.path }}">
      {% trans 'Log In' %}</a></p>
  {% endif %}
{% endblock %}
