exclude .editorconfig
exclude .ignore
exclude .pre-commit-config.yaml
exclude .prettierignore
exclude .prettierrc.toml
exclude codecov.yml
exclude Makefile
include .bumpversion.cfg
include .coveragerc
include .flake8
include .isort.cfg
include .pylintrc
include *.md
include *.rst
include doc-requirements.txt
include LICENSE
include requirements.txt
include runtests.py
include setup.cfg
include tox.ini
prune .github
prune docs
prune example_extension_project
prune example_integration_project
prune example_replacement_project
recursive-include tests *.json
recursive-include tests *.py
