exclude Makefile
exclude .ignore
include *.md
include *.rst
include .bumpversion.cfg
include .coveragerc
include .isort.cfg
include .pylintrc
include .pyup.yml
include .travis.yml
include LICENSE
include appveyor.yml
include doc-requirements.txt
include requirements.txt
include runtests.py
include setup.cfg
include tox.ini
prune .github
prune docs
prune example_extension_project
prune example_integration_project
prune example_replacement_project
recursive-include tests *.json
recursive-include tests *.py
