astroid==2.0.4
bumpversion==0.5.3
check-manifest==0.37
coverage==4.5.1
docutils==0.14
factory_boy==2.11.1
Faker==0.8.18
flake8-commas==2.0.0
flake8-quotes==1.0.0
flake8==3.5.0
Pygments==2.2.0
pylint-django==2.0.2
pylint==2.1.1
python-dateutil==2.7.3
setuptools==40.2.0
tox==3.2.1
twine==1.11.0
wheel==0.31.1
