{% extends parent_template|default:'base.html' %}
{% load i18n %}

{% block content %}
  <p>
    {% trans 'Not a member?' %}
    <a href="{% url 'registration_register' %}">{% trans 'Register!' %}</a>
  </p>
  <form method="post" action=".">
    <input type="hidden" name="next" value="{{ next }}" />
    {% csrf_token %}
    {{ form.as_p }}
    <p>
      {% trans 'Forgot password?' %}
      <a href="{% url 'password_reset' %}">{% trans 'Reset it!' %}</a>
    </p>
    <button type="submit">{% trans 'Log In' %}</button>
  </form>
{% endblock %}
